* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: "roboto", sans-serif;
}

.fa-adversal {
  font-size: 20px;
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  background-image: url(../images/header_background.jpg);
  background-size: cover;
  background-position: center;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #eee;
  background-color: rgba(8, 24, 255, 0.55);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  font-family: "dancing script", serif;
  margin: 2rem;
  font-size: 3.5rem;
}

.header__subtitle {
  margin-bottom: 3.5rem;
}

.btn {
  color: #2e2e2e;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #eee;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  cursor: pointer;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navigation__burger {
  position: fixed;
  font-size: 2rem;
  top: 10px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
  color: #eee;
  z-index: 1;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #164dcc;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navigation__list--active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation__item {
  margin: 20px;
  list-style: none;
  color: #eee;
  font-size: 2rem;
}

.dreams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eee;
}

.dreams__title {
  width: 100%;
  color: #1755e7;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 5rem auto;
}

.dreams__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem;
  height: 30vh;
}

.dreams__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 20%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.dreams__example:nth-of-type(even) .dreams__txt {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 2rem;
  text-align: left;
}

.dreams__example:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.dreams__example:nth-of-type(odd) .dreams__txt {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 2rem;
  text-align: right;
}

.dreams__subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.dreams__description {
  width: 70%;
}

.ad {
  height: 60vh;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url(../images/bora-bora.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.ad__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff;
}

.ad__title {
  font-family: "dancing script", serif;
  margin: 3rem;
  font-size: 3.5rem;
}

.ad__description {
  width: 30%;
  text-align: center;
  padding: 2rem;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.recomended-islands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 90vh;
}

.recomended-islands__title {
  width: 100%;
  text-align: center;
  margin: 3rem;
  font-size: 2.5rem;
  color: #2e2e2e;
}

.recomended-islands__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 25%;
  height: 50%;
  color: #eee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.recomended-islands__card:nth-of-type(1) .recomended-islands__front {
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url(../images/bora-card.jpg);
}

.recomended-islands__card:nth-of-type(2) .recomended-islands__front {
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url(../images/tik-taki.jpg);
}

.recomended-islands__card:nth-of-type(3) .recomended-islands__front {
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url(../images/nim.jpg);
}

.recomended-islands__card:hover .recomended-islands__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  opacity: 0;
}

.recomended-islands__card:hover .recomended-islands__back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  opacity: 1;
  z-index: 1;
}

.recomended-islands__front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.recomended-islands__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #1469f1, #2a0ab8);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.recomended-islands__information {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  color: #eee;
}

.recomended-islands__card-title {
  width: 100%;
  font-size: 1.5rem;
  margin: 2rem 0 3rem 0;
  text-align: center;
}

.recomended-islands__description {
  width: 40%;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.recomended-islands__btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: 2px solid #eee;
  border-radius: 10px;
  background-color: transparent;
  color: #eee;
  cursor: pointer;
  -webkit-transition: background-color 1s, border-color 0.5s, color 0.5s;
  transition: background-color 1s, border-color 0.5s, color 0.5s;
}

.recomended-islands__btn:hover {
  color: #2e2e2e;
  background-color: #0fe29c;
  border-color: #2e2e2e;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url(../images/palm.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.offers__title {
  font-size: 3rem;
  margin: 2rem 0 4rem 0;
  text-align: center;
  width: 100%;
  color: #eee;
}

.offers__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
  width: 50%;
}

.offers__offer:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.offers__image {
  width: 50%;
  margin-right: 2rem;
}

.offers__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #eee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers__name {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.offers__btn {
  margin-top: 3rem;
  color: #2e2e2e;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #eee;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */